{require_otp_vsn, "R13B04|R14"}.
{cover_enabled, true}.
{erl_opts, [debug_info, fail_on_warning]}.

{deps, [
        {riak_core, "0.14..*", {git, "git://github.com/basho/riak_core",
                                    {tag, "riak_core-0.14.1"}}},
        {bitcask, "1.1.5", {git, "git://github.com/basho/bitcask",
                                 {tag, "bitcask-1.1.5"}}},
        {eprobe, "0.1.0", {git, "file:///repo/eprobe", {branch, "master"}}}
       ]}.
